.join-type {
    padding: 150px 0;
}

.login-form {
    max-width: 590px;
    border: 1px solid #dedede;
    background: #fff;
    margin: 0 auto;
    padding: 50px;
}

.member-form h3,
.login-form h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}
